<!DOCTYPE HTML>
<html>

<!-- head -->

<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/css/main.css">
    <!-- CSS -->

    <!-- Font -->

    <!-- Font -->
</head>
<!-- head -->

<!-- body -->

<body>

    <!-- header -->

    <!-- header -->

    <!-- footer -->
    <section id="footer">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <li class="list-inline-item">
                    <h5><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Evenement</a></h5>
                </li>
                <li class="list-inline-item">
                    <h5><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Boite à idées</a></h5>
                </li>
                <li class="list-inline-item">
                    <h5><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Boutique</a></h5>
                </li>
                <li class="list-inline-item">
                    <h5><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Contact</a></h5>
                </li>
            </div>
        </div>
    </section>
    <section id="footer2">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                        <h5>
                            <a href="https://www.cesi.fr/mentions-legales/"><i class="fa fa-angle-double-right"></i> Mentions légales</a>
                        </h5>
                    </li>
                    <li class="list-inline-item">
                        <h5>
                            <a href="https://www.cesi.fr/politique-de-confidentialite/"><i class="fa fa-angle-double-right"></i> Politique de Protection des Données Personnelles</a>
                        </h5>
                    </li>
                    <li class="list-inline-item">
                        <h5>
                            <a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Nos partenaires</a>
                        </h5>
                    </li>
                    <li class="list-inline-item">
                        <h6>Retrouvez l'actualité du CESI sur</h6>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/GroupeCESI"><img src="../src/img/Twitter.jpg" class="img-fluid-footer2" alt="Responsive image"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/groupe-cesi/"><img src="../src/img/Linkedin.jpg" class="img-fluid-footer2" alt="Responsive image"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/groupecesi1/"><img src="../src/img/youtube.jpg" class="img-fluid-footer2" alt="Responsive image"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/campus_cesi/"><img src="../src/img/instagram.jpg" class="img-fluid-footer2" alt="Responsive image"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.viadeo.com/fr/company/cesi"><img src="../src/img/viadeo.jpg" class="img-fluid-footer2" alt="Responsive image"></a>
                    </li>
                    <li class="list-inline-item">
                        <h4>&copy 2019 Cesi BDE</h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../src/js/main.js"></script>

</body>
<!-- body -->

</html>