.logo{
    max-width: 64px;
    max-height: 64px;
    transition: opacity 0.5s;
}

.cardImage{
    max-height: 256px;
    max-height: 256px;
}

.logo:hover{
    opacity: 0.50;
}

.footer{
    background-color: steelblue;
    display: inline-block;
}

.copyright{
    max-height: 32px;
    max-width: 32px;
}