*
{
   margin : 0; 
   padding: 0;
}

header
{

}

.navbar-item:hover
{
	background-color: #4678A1;
	border-top-style: solid;
	border-top-color: white;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.navbar-item
{
	border-top-style: solid;
	border-top-color: #326295;
}

.headNav
{
	background-color: #326295;
}

#user-panier
{
	float: right;
}

#logo
{
	width: 15%;
	height: 15%;
	margin-left:15%; 
}

.submenu
{
	display: none;
}

#menu
{
	margin-left: 10%;
}

#menuTop
{
	color: white;
}

body
{
	text-align: center;
	overflow-x: hidden;
}

.conteneur
{

	background-color: #E5E5E5;
	text-align: center;
}

article
{
	box-shadow: 5px 5px 2px black;
}

.explain
{
	border-right-style: solid;
	border-right-color: #326295;
}

a:link
{
	text-decoration: underline dotted #326295;
	color: #4678A1;
}

a:link:hover
{
	text-decoration: underline dotted #4678A1;
	color: #326295;
}